* {
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  width: 500px;
  height: 200px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container h1 {
  color: #ffffff;
  font-size: 75px;
}
